<%- include('./port/layout-start', {title: title}) %>
<%- include('./port/menu') %>

<h1>Регистрация</h1>
<form action="/user/signup" method="post">
    <section>
        <label for="username">Логин:</label>
        <input id="username" name="username" type="text" autocomplete="username" required>
    </section>
    <section>
        <label for="new-password">Пароль:</label>
        <input id="new-password" name="password" type="password" autocomplete="new-password" required>
    </section>
    <button type="submit">Зарегистрироваться</button>
</form>

<%- include('./port/layout-end') %>